<!DOCTYPE html>
<html>
  <head>
{% include metadata.html %}
    <title>thecoshman - {{ page.title }}</title>
    <script type="text/javascript">
      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
      heap.load("2368420511");
    </script>
  </head>
  <body>
{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <article id="main_content" class="inner">
{{ content }}
      </article>
    </div>
{% include footer.html %}
  </body>
</html>
